<a href="https://colab.research.google.com/github/abhay2255/LEARN.PY/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [37]:
#please enter your answer below this line
Info = {'name':'Alex Ryder','age':28 }
Info['age'] = '32'
Info.update({'town':'calicut'})
print(Info)

{'name': 'Alex Ryder', 'age': '32', 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [79]:
#please enter your answer below this line
Z=dict()
for X in range(1,6):
 Z[X]=X**2
print(Z)
del Z[3]
print(Z)
Z.clear()
print(Z)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
{}

3. Make a set containing the elements 1, hello, (0,1,2).
 
Expected output
            
            {'hello', 1, (0, 1, 2)}
 
Now add the value 6 to the set.
 
Expected output
 
        {'hello', 1, (0, 1, 2), 6}

In [64]:
#please enter your answer below the line
x = {1,'hello',(0,1,2)}
print(x)
x.add(6)
print(x)

{(0, 1, 2), 1, 'hello'}
{(0, 1, 2), 1, 'hello', 6}