1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [6]:
#please enter your answer below this line
for x in range(1000,2000):
  if (x%7==0) and (x%11==0):
    print(x)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [7]:
#please enter your answer below this line
def pattern(b):
     a = 2 * b - 2
     for i in range(0, b):
         for j in range(0, a):
              print(end= " ")
         a = a - 2
         for j in range(0, i + 1):
            print(' #', end="")
         print(" ")
pattern(3)

     #
   # #
 # # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [8]:
#please enter your answer below this line
list=['apple','orange','apple','banana']
for l in list:
 list[0]='grapes'
 list[2]='grapes' 
print(list)

['grapes', 'orange', 'grapes', 'banana']